.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.settings-button {
  font-size: 18px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  overflow: hidden;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.real-time-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #e0ffe0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.balance-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0ffe0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.table-container {
  width: 100%;
  margin-bottom: 10px;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.add-transaction-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-transaction-button button {
  width: 100%;
  color: #fff;
}