nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 1000
}

section {
    justify-content: space-between;
    height: calc(100dvh - 50px);
    margin-top: 50px;
    padding: 0 10px 0 10px;
    overflow: hidden;
}